body
{
margin: 0;
padding: 0;
font-size: 12px;
font-family: Arial;
}

#container
{
width: 98%;
margin: 0 auto 0 auto;
}

svg
{
overflow: hidden;
}

#infos
{
font-size: 11px;
margin: 0 4px 0 4px;
}

#buttons
{
margin: 0 0 10px 0;
font-size: 14px;
}

#desc
{
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

#graphs
{
margin-top: 5px;
}

#tree, #map, #lines, #bars
{
display: block;
width: 98%;
position: relative;
margin: 0 auto 0 auto;
}

.sprengel_tree, .bezirk_tree, .sprengel, .bezirk_path
{
stroke: #595959;
stroke-width: 1px;
cursor: pointer;
}

.bars, .sprengel_rect
{
cursor: pointer;
}

.hl
{
fill: #E2E062;
}

.xaxis path, .yaxis path, .xaxis_l path
{
stroke: none;
fill: none;
}

.xaxis text
{
display: none;
pointer-events: none;
}

.xaxis_l text
{
stroke: none;
fill: #333333;
fill-opacity: 0.3;
display: block;
}

.yaxis text
{
stroke: none;
fill: #333333;
fill-opacity: 0.3;
display: block;
pointer-events: none;
}

.hist
{
fill: none;
shape-rendering: geometricPrecision;
stroke-opacity: 0.3;
stroke-width: 1;
}

.histhigh
{
stroke-opacity: 1;
stroke-width: 3;
}

.histlow
{
stroke-opacity: 0.1;
}

.grid, .hgrid
{
stroke: #333333;
stroke-opacity: 0.2;
stroke-dasharray: 1 3;
}

.grid
{
display: none;
}

.totals
{
stroke-opacity: 1;
stroke-dasharray: 5 1;
}

.results_total
{
text-anchor: middle;
font-style: italic;
}

.values
{
display: none;
visibility: hidden;
pointer-events: none;
}

.subvals
{
stroke: none;
fill: black;
pointer-events: none;
text-anchor: middle;
}

.hint
{
position: absolute;
left: 0;
top: 0;
padding: 5px;
background-color: #ECEAE0;
line-height: 1.5em;
color: #191919;
cursor: pointer;
border-style: solid;
border-color: #191919;
border-width: 1px;
}

#sh
{
cursor: pointer;
margin-bottom: 5px;
text-decoration: underline;
}

@media screen and (min-width: 640px)
{
.grid
{
display: block;
}

.values
{
display: block;
}
}

@media screen and (min-height: 780px)
{
#container
{
font-size: 12px;
}
}

@media screen and (min-width: 1000px)
{
#graphs
{
margin-top: 15px;
}

#tree, #map, #lines
{
display: inline-block;
width: 32%;
}

#logo
{
margin-bottom: 0;
}
}

@media screen and (min-width: 1200px)
{
.xaxis text
{
stroke: none;
fill: #333333;
fill-opacity: 0.3;
display: block;
}
}
